/*GENERAL*/
html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #222;
}

html {
  min-height: 100%;
  position: relative;
}

body{
	background: #fff;
    margin-bottom: 119px;
    padding-bottom: 80px;
}

*, button{
    outline: none!important;
    box-sizing: border-box;
}

/*GENERAL*/

/*NAVBAR*/
.navAkiraFood {
    height: 60px;
    display: flex;
    align-items: center;
    transition: top 0.2s ease-in-out;
    top: 0;
}

.navbar.nav-down {
    background: #fff;
}

.nav-up {
    top: -60px;
}

.content-logo-nav {
    position: relative;
}

.content-logo-nav::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #222;
    position: absolute;
    left: 130%;
    top: 50%;
    transform: translateY(-50%);
}

.cirlce-bg-item {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px;
    font-weight: 600;
    background: #81B057;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.dropDown {
    position: absolute;
    top: 46px;
    right: 0;
    border-radius: 10px;
    background: #E7EBF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;
    width: max-content;
}

.last-op {
    border-top: 1px solid #DAD8DB;
    margin-top: 10px;
    padding-top: 10px;
}

.link-menu a {
    position: relative;
}

.link-menu a.active {
    color: #E54658;
}

.link-menu a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #E54658;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.165,.84,.44,1);
    transition: -webkit-transform .5s cubic-bezier(.165,.84,.44,1);
    -o-transition: transform .5s cubic-bezier(.165,.84,.44,1);
    transition: transform .5s cubic-bezier(.165,.84,.44,1);
    transition: transform .5s cubic-bezier(.165,.84,.44,1), -webkit-transform .5s cubic-bezier(.165,.84,.44,1);
    transition: transform .5s cubic-bezier(.165,.84,.44,1),-webkit-transform .5s cubic-bezier(.165,.84,.44,1);
}

.link-menu li:hover a::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 1024px){
    .content-logo-nav::before {
        width: 50%;
    }
}

@media (max-width: 768px){
    .content-logo-nav {
        margin-right: 0;
    }

    .content-logo-nav::before {
        display: none;
    }

    #dropMobile {
        position: fixed;
        z-index: 40;
        background: #fff;
        width: 100%;
        height: 100%;
        top: 60px;
    }

    #dropMobile ul {
        text-align: center;
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    #dropMobile ul li {
        font-size: 40px;
        margin: 30px 0;
        font-weight: 700;
    }

    #dropUser {
        width: 100%;
        position: fixed;
        border-radius: 0;
        height: 100%;
        background: #fff;
        top: 60px;
    }

    #dropUser ul {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

    #dropUser ul li {
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
        font-weight: 700;
    }
}
/*END NAVBAR*/

/*BTN BURGER*/
.toggle {
    display: block;
    cursor: pointer;
}
.toggle input {
    display: none;
}
.toggle input + div {
    width: 20px;
    height: 14px;
    position: relative;
}
.toggle input + div div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.5s ease;
}
.toggle input + div div span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}
.toggle input + div div span:first-child {
    top: 0;
}
.toggle input + div div span:first-child:before, .toggle input + div div span:first-child:after {
    top: 0;
}
.toggle input + div div span:last-child {
    bottom: 0;
}
.toggle input + div div span:last-child:before, .toggle input + div div span:last-child:after {
    bottom: 0;
}
.toggle input + div div span:before, .toggle input + div div span:after {
    content: '';
    display: block;
    width: 47%;
    height: 2px;
    border-radius: 1px;
    background: #222;
    position: absolute;
    -webkit-backface-visibility: hidden;
    transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
}
.toggle input + div div span:before {
    left: 0;
    transform-origin: 0 50%;
    transform: translate(1px, 0) scaleX(1.1);
}
.toggle input + div div span:after {
    right: 0;
    transform-origin: 100% 50%;
    transform: translate(-1px, 0) scaleX(1.1);
}
.toggle input + div svg {
    display: block;
    fill: none;
    stroke: #222;
    stroke-width: 2px;
    width: 44px;
    height: 44px;
    stroke-linecap: round;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    stroke-dasharray: 0 82.801 8 82.801;
    stroke-dashoffset: 82.801;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    transform: scale(1);
    transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
}
.toggle input + div svg:nth-child(3) {
    transform: rotate(180deg) scale(1);
}
.toggle input:checked + div div {
    transform: rotate(90deg);
}
.toggle input:checked + div div span:before, .toggle input:checked + div div span:after {
    background: #222;
}
.toggle input:checked + div div span:first-child:before {
    transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:first-child:after {
    transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:before {
    transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div div span:last-child:after {
    transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}
.toggle input:checked + div svg {
    stroke-dashoffset: 62;
    stroke-dasharray: 0 82.801 62 82.801;
    transform: rotate(90deg);
    stroke: #222;
}
.toggle input:checked + div svg:nth-child(3) {
    transform: rotate(270deg);
}
/* html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
} */

/*END BTN BURGER*/

/*REGISTRO*/
#registro {
    z-index: 1;
}

.img-banner {
    z-index: -1;
}

.bg-mobile-banner {
    width: 100%;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-mobile-banner img {
    position: absolute;
}

.bg-mobile-banner img:nth-child(1){
    left: -50px;
    top: 50px;
    transform: rotate(-25deg);
}

.bg-mobile-banner img:nth-child(2){
    left: -40px;
    bottom: 0;
}

.bg-mobile-banner img:nth-child(3){
    right: -20px;
    top: 82px;
}

.bg-mobile-banner img:nth-child(4){
    right: -40px;
    bottom: 0px;
}

/*END REGISTRO*/

/* BFA */
.bfa {
    position: fixed;
    bottom: 8vh;
    right: 5vw;
    z-index: 20;
}
/*END BFA*/

/*SWIPER*/
.swiper-container {
    height: 230px;
    width: 80%;
    left: -20%;
    margin: 0;
}

#dish-carousel {
    padding-right: 15px;
}

#dish-carousel .swiper-slide {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

#dish-carousel .swiper-wrapper {
    height: 180px;
}

.time-dish {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 5px;
    border-radius: 5px;
}

.btn-carousel {
    height: 50px;
    justify-content: end;
}

#dish-carousel .swiper-button-next, #dish-carousel .swiper-button-prev{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    right: inherit;
    left: inherit;
}

#dish-carousel .swiper-button-next:after, #dish-carousel .swiper-button-prev:after {
    content: none;
}

@media (max-width: 768px) {
    .swiper-container {
        width: 100%;
        left: 0;
    }

    .btn-carousel {
        justify-content: center;
    }
}
/*SWIPER*/

/*SIDEBAR*/

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #fff;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar {
  height: 100%;
  width: 540px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

.move-to-left {
  -webkit-transform: translateX(-540px);
  -moz-transform: translateX(-540px);
  -ms-transform: translateX(-540px);
  -o-transform: translateX(-540px);
  transform: translateX(-540px);
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

@media (max-width: 620px) {
    .sidebar {
        width: 100%;
    }
}
/*------------------------------*/

.move-to-left+.sidebar .card-food.reboteIn {
	-webkit-animation:1s reboteIn 1;
}

@-webkit-keyframes reboteIn {
	0%{
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50%{
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	70%{
		-webkit-transform: scale(0.9);
	}
}

/*END SIDEBAR*/

/*MODAL*/
.modal {
    transition: opacity 0.25s ease;
    z-index: 50;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.modal-container {
    max-width: 540px;
    transform: scale(0);
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.modal-content {
    width: 540px;
    height: 100%;
    max-height: 80vh;
    overflow: auto;
}

body.modal-active .modal-container {
    transform: scale(1);
}

.headerModal {
    background-image: url(../img/bg-food.svg);
    background-repeat: repeat;
}

@media (max-width: 768px) {
    .modal-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .modal-content {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
}
/*END MODAL*/

/*ABOUT*/
.cont-about {
    /* display: block; */
}

.cont-img-about {
    position: absolute;
    left: -10%;
    top: 10px;
    width: 50%;
}

@media (max-width: 768px) {
    .cont-img-about {
        width: 100%;
        left: 0;
        top: 80%;
    }
}

@media (max-width: 768px) {
    /* .cont-about {
        display: flex;
        flex-direction: column-reverse;
    } */
}
/*END ABOUT*/

/*AKIRA BAKERY*/
.card-cake {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

.card-bakery .card-cake:nth-child(1) {
    background: #FC9390;
    display: block;
    margin: auto;
}

.card-bakery .card-cake:nth-child(2) {
    background: #F9E2DB;
}

.card-bakery .card-cake:nth-child(3) {
    background: #89C6C8;
}

.card-bakery .card-cake:nth-child(4) {
    background: #B48B83;
}

.card-bakery .card-cake:nth-child(5) {
    background: #D75D64;
    display: block;
    margin: auto;
}

.card-cake img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1280px) {
    .card-cake {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 1024px) {
    .card-bakery {
        display: flex;
        align-items: center;
    }

    .card-cake {
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 768px) {
    .card-bakery {
        height: 330px;
    }

    .card-cake {
        height: 120px;
        width: 120px;
        margin: 0;
        position: absolute;
        left: 39%;
    }

    .card-bakery .card-cake:nth-child(1){
        transform: translate(0%, -50%);
        z-index: 4;
    }

    .card-bakery .card-cake:nth-child(2){
        transform: translateX(-80%);
        z-index: 3;
    }

    .card-bakery .card-cake:nth-child(3) {
        transform: translate(-60%, 80%);
        z-index: 2;
    }

    .card-bakery .card-cake:nth-child(4) {
        transform: translate(30%, 40%);
        z-index: 1;
    }

    .card-bakery .card-cake:nth-child(5) {
        display: none;
    }
}
/*END AKIRA BAKERY*/

































